services:
  db:
    image: mysql:8.0
    container_name: tls-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tls_ids
      MYSQL_USER: tls_user
      MYSQL_PASSWORD: tls_pass
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 20s
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: tls-backend
    depends_on:
      db:
        condition: service_healthy   
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: tls_ids
      DB_USER: tls_user
      DB_PASSWORD: tls_pass
      AUTO_BLOCK_ENABLED: "true"
      FIREWALL_TARGET: "iptables"
    ports:
      - "8000:8000"
    restart: unless-stopped


  suricata:
    build: ./suricata
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_NICE
    volumes:
      - ./shared/logs/suricata:/var/log/suricata
    restart: unless-stopped

  python-realtime:
    build: ./python-real-time-service
    depends_on:
      - suricata
      - backend
    environment:
      BACKEND_URL: http://backend:8000
      EVE_PATH: /shared/logs/suricata/eve.json
    volumes:
      - ./shared/logs/suricata:/shared/logs/suricata
    restart: unless-stopped

volumes:
  mysql_data:
